<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<dom-module id="login-form">
    <template>
        <iron-form>
            <form>
                <paper-input name="username" value ="" type="text" required label="User Name"></paper-input>
                <paper-input name="pwd" value ="" type="pwd" required label="Pass word"></paper-input>
            </form>
        </iron-form>
    </template>
    <script>
    class LoginForm extends Polymer.Element{
        static get is(){return 'login-form';}
    }
    window.customElements.define(LoginForm.is, LoginForm);
    </script>
<dom-module>