<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/nebula-label/nebula-label.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="shared-styles.html">
<dom-module id="search-employee">
    <template>
        <style include="shared-styles">
             :host {
                    display: block;
                    padding: 10px;
                }
        </style   
        <div class="card" style="width:500px;">
        <h1>{{notifying}}</h1>
            <nebula-label>
                    Enter Employee Id:
                    <iron-input allowed-pattern="[0-9]"  auto-validate>
                        <input id ="searchValue">
                    </iron-input>
                    <paper-button raised class = "indgo"on-click="search">Search</paper-button>
             </nebula-label>
        </div>
        <div class="gridparent" style="padding-top:10px;">
             <vaadin-grid  items="[[employees]]" column-reordering-allowed multi-sort>
                    <vaadin-grid-selection-column frozen auto-select on-tap="onClicked"></vaadin-grid-selection-column>

                    <vaadin-grid-column width="9em"  resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="id">Id</vaadin-grid-sorter>

                        </template>
                        <template>[[item.id]]</template>
                    </vaadin-grid-column>
                    <vaadin-grid-column width="9em"  flex-grow="0" resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="name">Name</vaadin-grid-sorter>
                        </template>
                        <template> 
                            <a href="#" on-click="onClicked">[[item.name]]</a>
                        </template>
                        
                    </vaadin-grid-column>
                    <vaadin-grid-column width="9em"  resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="designation">Designation</vaadin-grid-sorter>
                        </template>
                        <template>[[item.designation]]</template>
                        
                    </vaadin-grid-column>
                    <vaadin-grid-column width="9em"  resizable>
                        <template class="header">
                                <vaadin-grid-sorter path="designation">DOB</vaadin-grid-sorter>
                        </template>
                        <template>[[item.dob]]</template>
                       
                    </vaadin-grid-column>
             </vaadin-grid>
        </div>
        
        <paper-dialog id= "scrolling">
            <h1> Employee Details:</h1>
            <paper-dialog-scrollable>
                Employee Name: {{popUpData.name}}
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus>OK</paper-button>
            </div>
        </paper-dialog>

       
    </template>
    <script>
        class SearchEmployee extends Polymer.Element {
            connectedCallback() {
                super.connectedCallback();
               
              }
            static get is(){return 'search-employee';}

            static get properties() {
                return {
                    popUpData: {
                        type: Object,
                        value: {}
                    },
                    employees: {
                        type: Object,
                        value:{},
                        reflectToAttribute: true,
                        notify: true,
                        observer: '_propertyChange'
                    }
                }
            }

            _propertyChange(employees){
                    debugger;
            }

            onClicked(e) {
                  this.popUpData  = e.model.item;
                  this.$.scrolling.open();
                  e.preventDefault();
            }
            /* static get properties() {
                return {
                searchDetails:{
                    type: Object,
                    value: {}
                }
            } */

            _boundListener() {
                debugger;
            }

            handleResponse(event, Request){
                this.employees = Request.response;
            }

            search() {
                debugger;
                var res= this.$.empResults,
                    data = this.$.searchValue.value;
                if(data.value !== null) {
                    debugger;
                    res.url =res.url+"/"+data
                }
                res.generateRequest();
              
            }

            

        }
        window.customElements.define(SearchEmployee.is, SearchEmployee);
       
    </script>
</dom-module>